*{
    font-family: 'Montserrat', sans-serif;
    
}


body{
    background-image: linear-gradient(to right,#59d0da,#abd483);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

form{
    border: 1px solid grey;
    background-color: #ffffff8f;
    display: inline-block;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px grey;
    width: 50%;
}

label{
    display: block;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 5px;

}

input{
    display: block;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #00000061;
    color: #a0a39c;
    font-size: 1em;
    

}

input:focus{
    background-color: #f4fdeb;

}

button{
    background-color: #43a7bb;
    padding: 1em 3em;
    border-radius: 5px;
    border: none;
    margin-top: 2em;
    font-size: 1em;
    color: white;
}

button:hover{
    background-color: #81bc3f;
    cursor: pointer;
}
}

a{
    
    color: blue;
    margin-left: 2em;

}

.button{
    text-align: left;

}